@model Proveedor
@{
}
<h1>Eliminar @Html.DisplayTextFor(m => m.prove_nombre)</h1>

<form asp-action="EliminarProveedor" asp-controller="Proveedor" method="post">


    <input asp-for="id_proveedor" type="hidden" class="form-control" />

    <p>Seguro que quieres eliminar el registro de: @Html.DisplayTextFor(m => m.prove_nombre)?</p>

    <button type="submit" class="btn-danger">Eliminar</button>

</form>