@model Producto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Guardar producto funciona</h1>

<form asp-action="GuardarProducto" asp-controller="Producto" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input asp-for="prod_nombre" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Precio</label>
        <input asp-for="prod_precio" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Stock</label>
        <input asp-for="prod_stock" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Detalle</label>
        <input asp-for="prod_detalle" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Imagen</label>
        <input asp-for="prod_img" type="text" class="form-control">
    </div>

    <button name="submit" type="submit" id="guardar-submit" data-submit="...Sending">Submit</button>
 @* 
    <button type="submit" class="btn btn-primary">Submit</button>*@
</form>
 


