@using Microsoft.AspNetCore.Identity;  @*// Restricciones para vistas segun roll*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] FarmaNet</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     
    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/aos.css">
   
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
    <header>
       
        <!-- nav -->

          <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">FarmaNet</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">

                   @* <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@

                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                      @if (User.IsInRole("Administrador") || User.IsInRole("Supervisor") || User.IsInRole("Empleado"))
                        {
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Proveedor" asp-action="Index">Proveedores</a></li>
                        }

                      @if (User.IsInRole("Administrador") || User.IsInRole("Supervisor"))
                        {
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Empleado" asp-action="Index">Empleados</a></li>
                        }


                        @if (User.IsInRole("Cliente"))@*Encapsulamiento para vistas con @if solo la verá quien este asignado, los demás no *@
                        {
                            <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Compras">Compras</a></li>
                        }

                        <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Acceso" asp-action="Salir">Salir</a></li>
                        @* <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>*@
                

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->







    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProyectoFinal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

