@model Cliente

@{
    ViewData["Title"] = "Eliminar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>


<body>
<h1>Eliminar @Html.DisplayTextFor(m => m.clie_nombre)</h1>

<form asp-action="EliminarCliente" asp-controller="Cliente" method="post">


    <input asp-for="id_cliente" type="hidden" class="form-control" />

    <p>Seguro que quieres eliminar el registro de: @Html.DisplayTextFor(m => m.clie_nombre)?</p>

    <button type="submit" class="btn-danger">Eliminar</button>

</form>
</body>
</html>