@model Cliente


@{
    ViewData["Title"] = "Guardar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>


<body>
<h1>Página guardar funciona</h1>

<form asp-action="Guardar" asp-controller="Cliente" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input asp-for="clie_nombre" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Apellido</label>
        <input asp-for="clie_apellido" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Dni</label>
        <input asp-for="clie_dni" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Cuit</label>
        <input asp-for="clie_cuit" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Razón social</label>
        <input asp-for="clie_razon_social" type="text" class="form-control">
    </div>

    <button name="submit" type="submit" id="guardar-submit" data-submit="...Sending">Submit</button>
 @* 
    <button type="submit" class="btn btn-primary">Submit</button>*@
</form>

</body>

</html>