@model Promocion_producto
@{
    ViewData["Title"] = "Eliminar Promo-Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>


<body>
    <h1>Eliminar @Html.DisplayTextFor(m => m.promo_numero)</h1>

    <form asp-action="EliminarPromocionProducto" asp-controller="Promocion_producto" method="post">


        <input asp-for="promo_numero" type="hidden" class="form-control" />

        <p>Seguro que quieres eliminar el registro de: @Html.DisplayTextFor(m => m.promo_numero)?</p>

        <button type="submit" class="btn-danger">Eliminar</button>

    </form>
</body>
</html>